<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🤠 cowboyz 🤠</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}?v=1">
</head>
<body>
    <h1>cowboyz</h1>

    <cowboyz></cowboyz>

    <h2>testimonialz</h2>
    
    <div class="testimonials">
        <div class="entry">it's a public service <span class="author"><a href="https://twitter.com/euphens/status/1122658677792468992">anh</a></span></div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.2/riot+compiler.min.js"></script>

    <script type="riot/tag" src="{{ url_for('static',filename='cowboyz.tag') }}"></script>

    <script>
        riot.mount('cowboyz');
    </script>
</body>
</html>