$pink: #ebb6ac;
$darker-pink: #ca3178;

body {
    background-color: $pink;
    color: #222;
    font-family: Lato, Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
    font-style: italic;
    text-align: center;
    margin: 6rem 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20rem;
    height: 20rem;
}

.input {
    position: relative;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid $darker-pink;
    border-radius: 0.5rem;
    background-color: darken($pink, 20%);
    overflow: hidden;
    cursor: pointer;

    &:after {
        content: "▼";
        padding: 0 0.5rem;
        color: darken($darker-pink, 15%);
    }
}

.input-img {
    border-right: 1px solid $darker-pink;
    padding: 1rem;
    background-color: $pink;
}

.emoji-picker {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: #fff;
    outline: 0;
    background-color: lighten($pink, 10%);
    border: 1px solid $darker-pink;
    border-radius: 0.5rem;
    overflow: hidden;
}

.emoji-picker-content {
    padding: 0.5rem;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;

    img {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;
        cursor: pointer;
    }
}

.transform {
    width: 10rem;
    height: 10rem;
}

.arrow {
    display: block;
    font-size: 10rem;
    text-align: center;
    line-height: 10rem;

    &:after {
        content: "\2192";
    }
}

.share {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.share-buttons {
    display: flex;
}

.share-button {
    display: block;
    width: 5rem;
    height: 5rem;
    border: 1px solid red;
}

@media screen and (max-width: 768px) {
    h1 {
        margin: 3rem 0 1rem;
    }

    .container {
        flex-direction: column;
    }

    .box {
        width: 17rem;
        height: 17rem;
    }

    .arrow:after {
        content: "\2193";
    }
}